<div class="input-group ">
  <button (click)="bubbleSort()" class="btn btn-primary">Sort Age</button>
  <input type="text" id="filter" [(ngModel)]="filterValue" (ngModelChange)=compare() class="form-control d-inline-block col-3">
  <button (click)="compare()" class="btn btn-primary">Filter</button></div>
  <br/>
  <br/>
  <div class="table">
    <div *ngFor="let user of resultFilter" id={{user.Id}} class="mb-3">
      <div class="d-inline-block">{{user.Name + " " + user.Age + " " + user.Email}}</div>
      <button (click)="deleteUser(user.Id)" class="btn btn-danger ml-3">Delete</button>
    </div>
  </div>

