<div class="modal " [ngClass]="{ 'modal-show': modalShow }">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update user</h5>
        <button type="button" class="close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
     
          <div class="form-group">
            <label for="updateName">Name</label>
            <input
              type="text"
              id="updateName"
              [(ngModel)]="name"
              class="form-control"
            />
          </div>
          <div class="form-group ">
            <label for="updateAge">Age</label>
            <input
              type="text"
              id="updateAge"
              [(ngModel)]="age"
              class="form-control "
            />
          </div>
          <div class="form-group ">
            <label for="updateEmail">Email</label>
            <input
              type="text"
              id="updateEmail"
              [(ngModel)]="email"
              class="form-control "
            />
          </div>
          <div class="d-flex align-items-center justify-content-end">
            <button (click)="updateUser()" class="btn btn-primary mt-3">
              Save
            </button>
          </div>
       
      </div>
    </div>
  </div>
</div>
