/* You can add global styles to this file, and also import other style files */
.is-invalid{
    .form-control{
        border-color: red;
    }
    .error-message{
        visibility: visible;
    }
    .ng-pristine{
        &.form-control{
            border-color: inherit;
        }
        .error-message{
            visibility: hidden;
        }
    }
}
.error-message{
    visibility: hidden;
    font-size: 10px;
    color:red;
}
